@font-face {
  font-family: "tarkov";
  src: url("assets/Jovanny-Lemonad-Bender.otf");
}

body {
  font-family: tarkov;
  background-color: rgb(44, 44, 44);
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;

  flex-direction: column;
}
select {
  font-family: tarkov;
  margin: 10px;
  margin-top: 0;
  width: 135px;
}

#title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#character {
  margin-top: 10px;
  text-align: center;
  background-image: url(assets/images/char_background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 650px;
  height: 750px;
  padding-left: 55px;
}

.square_img {
  position: relative;
  z-index: 1;
  height: 135px;
  width: 135px;
}

.square_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#layer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#layer2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
